
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Brechó My Life - User Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- mudar as informaçoes do jeito que queremos -->
  <ion-list>

    <ion-item lines="none">
      <img src="assets/perfil.png" alt="">
    </ion-item>

    <ion-item>
      <ion-label>Nome: {{user.name}}</ion-label>
    </ion-item>


    <ion-item>
      <ion-label>E-mail: {{user.email}}</ion-label>
    </ion-item>

  </ion-list>

<!---botao endereço-->
    <ion-button routerLink="/tabs/endereco-add/{{key}}">
      <ion-icon name="map-outline"></ion-icon>
    </ion-button>
    
</ion-content>





