
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Brechó My Life - User Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- mudar as informaçoes do jeito que queremos -->
  <ion-list>

    <ion-item>
      <ion-labelimg>Pokémon Yellow</ion-label>
    </ion-item>


    <ion-item>
      <ion-labelimg>Pokémon Yellow</ion-label>
    </ion-item>



    <ion-item>
      <ion-labelimg>Pokémon Yellow</ion-label>
    </ion-item>




  </ion-list>

