<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Brechó My Life - Acessórios
        </ion-title>
    </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            
        </ion-toolbar>
    </ion-header>

    <div class="tab2">
        <ion-card>
            <img src="assets/calca.png"/>
            <ion-item button (click)="buttonClick()"  color="secondary">
                <ion-label>
                Calça Masculina             R$:40,00
                </ion-label>
              </ion-item>
            
          </ion-card>
        
          <ion-card>
            <img src="assets/saia.jfif"/>
            <ion-item button (click)="buttonClick()"  color="secondary">
                <ion-label>
               Saia
                </ion-label>
              </ion-item>
            
          </ion-card>
        
          <ion-card>
            <img src="assets/camisa.jpg"/>
            <ion-item button (click)="buttonClick()"  color="secondary">
                <ion-label>
                Camisa Masculina
                </ion-label>
              </ion-item>
            
          </ion-card>
        
          <ion-card>
            <img src="assets/casaco.jpeg"/>
            <ion-item button (click)="buttonClick()"  color="secondary">
                <ion-label>
                
                    Moletom masculino             
                </ion-label>
              </ion-item>
          </ion-card>

          <ion-card>
            <img src="assets/camisaf.jpg"/>
            <ion-item button (click)="buttonClick()"  color="secondary">
                <ion-label>
                
                    Camisa Feminina       
                </ion-label>
              </ion-item>
          </ion-card>

          <ion-card>
            <img src="assets/bermuda.jpg"/>
            <ion-item button (click)="buttonClick()"  color="secondary">
                <ion-label>
                
                    Camisa Jeans Masculina  
                </ion-label>
              </ion-item>
          </ion-card>

          
        
        </div>
        
        



  
</ion-content>



